<h1>Carrito de Compras</h1>
{{#if cart.products.length}}
  <ul>
    {{#each cart.products}}
      <li>
        <h3>{{this.productId.title}}</h3>
        <img src="{{this.productId.thumbnail}}" alt="{{this.productId.title}}" />
        <p>Precio Unitario: ${{this.productId.price}}</
        <p>Cantidad: {{this.quantity}}</p>
        <p>Precio: ${{this.productId.price}}</p>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>El carrito está vacío.</p>
{{/if}}